@media screen and (max-width: 1200px) {
    .body_c div ul li {width: 25%;}

}
@media screen and (max-width: 680px) {
    .body_c div ul li {width: 50%;}
    .head_c div select {float: left;left: 2px;}
    .head_c div form input {width: 100%;}
    .head_c div form button {float: right; left: -5px;}


}